<h3><%= @pagetitle %></h3>
<%= form_for(@user) do |f| %>
  <%= render 'form_fields', :f => f %>
  <div class="field">
    <%= f.label "Image" %><br/>
    <%= gravatar_for @user%><br/>
    <a href="http://gravatar.com/emails">Edit Image</a>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>


