<h3><%= @pagetitle %></h3>
<small>Please fill in all the fields!</small><br/>
<br/>

<%= render 'layouts/error_messages' %>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
<br/>
  <div class="actions">
    <%=  f.submit "Sign Up" %>
  </div>
<% end %>
