<div id="top_bar" class="grid_12">

  <small class="title">&raquo; <%= @pagetitle %></small>

  <ul id="main_nav">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Help",  help_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>


  <% if signed_in? %>
 <ul id="member_nav">
    <li><%= link_to "All Users", users_path %></li>
    <li><%= link_to "My Profile", current_user %></li>
    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
  </ul>
  <% end %>


  
</div>
