<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> </title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header_bg"></div>
    <div id="container" class="container_12">

      <%= render "layouts/header" %>

      <%= render "layouts/mainNav" %>
      
      <div id="content" class="grid_12">

        <h1><%= @pagetitle %></h1>
        
        <%= yield %>

      </div><!-- END #content -->

      <%= render "layouts/footer" %>

    </div><!-- End #Container -->
  </body>
</html>
